body{
  font-family: "Oswald";
  margin: 0;
}
.wrapper{
  margin: auto;
  width: 80%;
}
.title{
  border: dashed 1px red;
  display: flex;
  justify-content: space-between;
}
.logo,.menu{
  display: inline-block;
}
.logo{
  position: relative;
  margin-right: 52%;
  padding:40px 0;
    padding-left: 44px;
  font: bold 24px/31px 'pt_serifbold', arial, helvetica, sans-serif;
  border: dashed 1px red;
}
.logo__circle {
 width: 28px;
 height: 28px;
 position: absolute;
 left: 0;
 top: 50%;
 transform: translateY(-50%);
 border-radius: 50%;
 opacity: .7;
}
.logo__circle_color_dark-blue{
background: #0056EC;
}
.logo__circle_color_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.menu{
  padding: 40px 0;
}
.menu__item{
  border: dashed 1px red
  padding:0 13px;
}
.menu__item:last-child{
  padding-right: 0;
}
.main-section{
margin-top:  14%;
margin-right: 13%;
}
.image-content, .main-content{
  display: inline-block;
}
.image-content{
  border: dashed 1px red;
}
.main-content{
  border: dashed 1px red;
}
.main-content__title{
border: dashed 1px red;
}
.main-content__description{
border: dashed 1px red;
}
.main-content__button{
  border: dashed 1px red;
}
.main-section:last-child{
  margin-bottom: 30%;
}
