body{
  font-family: "Oswald";
  margin: 0;
}
.wrapper{
  margin: auto;
  width: 80%;
}
.title{
  border: dashed 1px red;
  display: flex;
  justify-content: space-between;
}
.logo,.menu{
  display: inline-block;
}
.logo{
  margin-right: 52%;
  padding:40px 0;
}
.menu{
  padding: 40px 0;
}
.menu__item{
  padding:0 13px;
}
.menu__item:last-child{
  padding-right: 0;
}
.main-section{
margin-right: 13%;
}
.image-content, .main-content{
  display: inline-block;
}
.image-content{
  border: dashed 1px red;
}
.main-content{
  border: dashed 1px red;
}
.main-content__title{
border: dashed 1px red;
}
.main-content__description{
border: dashed 1px red;
}
.main-content__button{
  border: dashed 1px red;
}
.main-section:last-child{
  margin-bottom: 30%;
}
